@using LibraryApplication.Library
@model IEnumerable<LibraryApplication.Models.Book>

@{
    ViewBag.Title = "Index";
    int pageNum = ViewBag.Page ?? 1; // when viewbag is null, input 1
    int totalCount = ViewBag.TotalCount ?? 0;
    int maxListCount = ViewBag.MaxListCount ?? 1;
    int totalPageCount = Convert.ToInt32(Math.Ceiling((double)totalCount / maxListCount));
    var commonLib = new CommonLibrary();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published_data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published_data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Book_U }) |
            @Html.ActionLink("Details", "Details", new { id=item.Book_U }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Book_U })
        </td>
    </tr>
}

</table>
<form style="width:360px;float:left;">
    @{ 
        string[] exceptKeys = new string[] { "searchKind", "keyword", "page" };
    }
    @foreach (var item in commonLib.UrlParameters)
    {
        if (!exceptKeys.Contains(item.Key))
        {
            <input type="hidden" name="@item.Key" value="@item.Value" />
        }
    }


    <div class="input-group">
        <span class="input-group-addon">
            <select name="searchKind">
                <option value="Title" @(ViewBag.SearchKind == "Title" ? "Selected": "")>Title</option>
                <option value="Writer" @(ViewBag.SearchKind == "Writer" ? "Selected": "")>Writer</option>
                <option value="Publisher" @(ViewBag.SearchKind == "Publisher" ? "Selected": "")>Publisher</option>
            </select>
        </span>
        <input class="form-control" type="text" name="keyword" value="@ViewBag.Keyword"/>
        <span class="input-group-btn">
            <button class="btn btn-info type=submit">Serch</button>
        </span>
    </div>
</form>

<div class="text-right">
    <div class="btn-group">
        @for (int i = 1; i <= totalPageCount; i++)
        {
            //<a class="btn btn-@(pageNum == i ? "primary" : "default")" href="?page=@i">@i</a>
            <a class="btn btn-@(pageNum == i ? "primary" : "default")" href="@commonLib.AddUrlParameter("page", i.ToString())">@i</a>
        }

        @*<a class="btn btn-@(pageNum == 1 ? "primary" : "default")" href="?page=1">1</a>
        <a class="btn btn-@(pageNum == 2 ? "primary" : "default")" href="?page=2">2</a>
        <a class="btn btn-@(pageNum == 3 ? "primary" : "default")" href="?page=3">3</a>
        <a class="btn btn-@(pageNum == 4 ? "primary" : "default")" href="?page=4">4</a>
        <a class="btn btn-@(pageNum == 5 ? "primary" : "default")" href="?page=5">5</a>*@
    </div>
</div>